@import "tailwindcss";

@theme {
    --font-teko: 'Teko';
    --breakpoint-sm: 37.5rem;
    --breakpoint-md: 48rem;
    --breakpoint-lg: 64rem;
    --breakpoint-xl: 80rem;
    --breakpoint-2xl: 96rem;
    --breakpoint-3xl: 120rem;
}

@font-face {
  font-family: 'Teko';
  src: url('/fonts/Teko/Teko-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-display: swap;
}
